<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>OxTransit - Realtime bus arrivals in Oxfordshire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="OxTransit">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- ICONS -->

    <!-- iPad retina icon -->
    <link href="images/ios_web/icon_152.png"
          sizes="152x152"
          rel="apple-touch-icon-precomposed">

    <!-- iPad retina icon (iOS < 7) -->
    <link href="images/ios_web/icon_144.png"
          sizes="144x144"
          rel="apple-touch-icon-precomposed">

    <!-- iPad non-retina icon -->
    <link href="images/ios_web/icon_76.png"
          sizes="76x76"
          rel="apple-touch-icon-precomposed">

    <!-- iPad non-retina icon (iOS < 7) -->
    <link href="images/ios_web/icon_72.png"
          sizes="72x72"
          rel="apple-touch-icon-precomposed">

    <!-- iPhone 6 Plus icon -->
    <link href="images/ios_web/icon_120.png"
          sizes="120x120"
          rel="apple-touch-icon-precomposed">

    <!-- iPhone retina icon (iOS < 7) -->
    <link href="images/ios_web/icon_114.png"
          sizes="114x114"
          rel="apple-touch-icon-precomposed">

    <!-- iPhone non-retina icon (iOS < 7) -->
    <link href="images/ios_web/icon_57.png"
          sizes="57x57"
          rel="apple-touch-icon-precomposed">

    <!-- STARTUP IMAGES -->

    <!-- iPad retina portrait startup image -->
    <link href="images/ios_web/startup_1536_2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 2)
                 and (orientation: portrait)"
          rel="apple-touch-startup-image">

    <!-- iPad retina landscape startup image -->
    <link href="images/ios_web/startup_1496_2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 2)
                 and (orientation: landscape)"
          rel="apple-touch-startup-image">

    <!-- iPhone 6 Plus portrait startup image -->
    <link href="images/ios_web/startup_1242_2148.png"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: portrait)"
          rel="apple-touch-startup-image">

    <!-- iPhone 6 Plus landscape startup image -->
    <link href="images/ios_web/startup_1182_2208.png"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: landscape)"
          rel="apple-touch-startup-image">

    <!-- iPhone 6 startup image -->
    <link href="images/ios_web/startup_750_1294.png"
          media="(device-width: 375px) and (device-height: 667px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPhone 5 startup image -->
    <link href="images/ios_web/startup_640_1096.png"
          media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPad non-retina landscape startup image -->
    <link href="images/ios_web/startup_748_1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 1)
                 and (orientation: landscape)"
          rel="apple-touch-startup-image">

    <!-- iPad non-retina portrait startup image -->
    <link href="images/ios_web/startup_768_1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
                 and (-webkit-device-pixel-ratio: 1)
                 and (orientation: portrait)"
          rel="apple-touch-startup-image">

    <!-- iPhone < 5 retina startup image -->
    <link href="images/ios_web/startup_640_920.png"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPhone < 5 non-retina startup image -->
    <link href="images/ios_web/startup_320_460.png"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <div id="topMenu">
        <div id="searchButton">
            <i class="fa fa-fw fa-search"></i>
        </div>
        <div id="geoloc">
            <i id="geolocalizationButton" onclick="" class="button fa fa-location-arrow fa-fw"></i>
            <i id="loadingIndicator" class="fa fa-spinner fa-fw fa-spin"></i>
        </div>
        <div class="brand">OxTransit</div>
    </div>
    <div id="searchContainer">
        <div class="top">
            <div class="search">
                <input type="text" id="searchInput" placeholder="Type a station name..."/>
            </div>
            <div class="exit">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="message">
            <p>Search a station by typing its name</p>
        </div>
        <ul class="list">
        </ul>
    </div>
    <div id="mapContainer">
        <div id="map">
        </div>
    </div>
    <div id="bottomTab">
        <div id="resizeGripBar">
            <i class="fa fa-bars"></i>
            <i class="fa fa-bars"></i>
            <i class="fa fa-bars"></i>
        </div>
        <div class="mainContainer">
            <div class="tabContainer">
                <div class="tab active" id="nextBusesDetails">
                    <div class="subHeader">
                        <div class="text">No station selected</div>
                        <div class="refresh"><i class="fa fa-refresh fa-spin"></i></div>
                    </div>
                    <div class="message">
                        <p>Please select a station on the map</p>
                    </div>
                    <ul class="content">
                    </ul>
                </div>
                <div class="tab" id="favoritesDetails">
                    <div class="subHeader">
                        <div class="text">Favorites</div>
                    </div>
                    <div class="message">
                        <p>You don't have any favorites at the moment</p>
                    </div>
                    <ul class="content">
                        <li></li>
                    </ul>
                </div>
            </div>
            <ul class="nav">
                <li class="button icon selected" id="mapButton" data-tab="nextBusesDetails">
                    <i class="fa fa-clock-o fa-fw"></i>
                </li>
                <li class="button icon" id="favoritesButton" data-tab="favoritesDetails">
                    <i class="fa fa-star-o a-fw"></i>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnDke3DnFMOr4XEaccSGR5If3qqbjVofo"></script>
    <script src="javascripts/oxtransit.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72815237-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>