body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue; }

#topMenu {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  background-color: #3b3b3b;
  z-index: 100;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 4px -1px; }
  #topMenu #searchButton {
    display: inline-block; }
    #topMenu #searchButton i {
      display: inline-block;
      color: white;
      padding: 3px 3px;
      margin: 2px;
      cursor: pointer;
      background-color: grey;
      border-radius: 5px;
      border: 1px solid #a5a5a5; }
      #topMenu #searchButton i:active {
        background-color: #008EF7; }
  #topMenu #geoloc {
    display: inline-block; }
    #topMenu #geoloc #geolocalizationButton {
      color: white;
      padding: 3px 3px;
      margin: 2px;
      cursor: pointer;
      background-color: grey;
      border-radius: 5px;
      border: 1px solid #a5a5a5; }
      #topMenu #geoloc #geolocalizationButton:active {
        background-color: #008EF7; }
    #topMenu #geoloc #loadingIndicator {
      display: none;
      color: white;
      padding: 3px 3px;
      margin: 2px;
      border-radius: 5px;
      border: 1px solid #3b3b3b; }
    #topMenu #geoloc.loading #geolocalizationButton {
      display: none; }
    #topMenu #geoloc.loading #loadingIndicator {
      display: inline-block; }
  #topMenu .brand {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #adadad;
    color: #adadad;
    font-weight: 300; }

#searchContainer {
  display: none;
  position: absolute;
  z-index: 110;
  background-color: #2c2c2c;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  #searchContainer .top {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 0px;
    height: 50px;
    background-color: #5b5b5b; }
    #searchContainer .top .search {
      position: absolute;
      left: 10px;
      right: 65px;
      line-height: 50px;
      vertical-align: middle; }
      #searchContainer .top .search input {
        font-size: 16px;
        border: 2px solid #c6c6c6;
        padding-left: 5px;
        padding-right: 5px;
        height: 31px;
        width: 100%;
        line-height: 29px; }
    #searchContainer .top .exit {
      cursor: pointer;
      text-align: center;
      position: absolute;
      right: 0;
      width: 50px;
      line-height: 50px;
      vertical-align: middle;
      color: white; }
      #searchContainer .top .exit i {
        font-weight: lighter;
        vertical-align: middle;
        font-size: 1.8em; }
  #searchContainer .list {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    right: 0;
    display: block;
    overflow: auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white; }
    #searchContainer .list li {
      cursor: pointer;
      border-bottom: 1px solid grey;
      line-height: 35px;
      padding: 0 15px 0 5px; }
      #searchContainer .list li i {
        line-height: 35px;
        position: absolute;
        right: 15px;
        vertical-align: middle; }
  #searchContainer .message {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0; }
    #searchContainer .message p {
      text-align: center;
      color: #919191;
      text-transform: uppercase;
      padding: 0 10px; }

#mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px; }
  #mapContainer #map {
    height: 100%; }

#bottomTab {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 0px;
  background-color: transparent; }
  #bottomTab #resizeGripBar {
    height: 10px;
    width: 100%;
    cursor: ns-resize;
    background-color: #acacac;
    border-bottom: 1px solid #757575;
    border-top: 1px solid #757575;
    text-align: center;
    line-height: 10px;
    font-size: 0.5em; }
    #bottomTab #resizeGripBar i {
      color: #4d4d4d; }
  #bottomTab .mainContainer {
    position: absolute;
    width: 100%;
    top: 12px;
    bottom: 0;
    background-color: #3b3b3b; }
    #bottomTab .mainContainer .tabContainer .tab {
      display: none; }
      #bottomTab .mainContainer .tabContainer .tab .subHeader {
        position: absolute;
        height: 30px;
        top: 0;
        left: 0;
        right: 0;
        background-color: #8b8b8b;
        color: white; }
        #bottomTab .mainContainer .tabContainer .tab .subHeader .text {
          height: 30px;
          top: 0;
          position: absolute;
          left: 30px;
          right: 40px;
          text-align: center;
          line-height: 30px;
          text-transform: uppercase;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      #bottomTab .mainContainer .tabContainer .tab .message {
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        bottom: 0; }
        #bottomTab .mainContainer .tabContainer .tab .message p {
          text-align: center;
          color: #919191;
          text-transform: uppercase;
          padding: 0 10px; }
      #bottomTab .mainContainer .tabContainer .tab .content_text {
        text-align: center;
        color: white;
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 30px;
        overflow: auto; }
        #bottomTab .mainContainer .tabContainer .tab .content_text p {
          padding: 0 10px; }
          #bottomTab .mainContainer .tabContainer .tab .content_text p a {
            color: #008EF7; }
      #bottomTab .mainContainer .tabContainer .tab .content {
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 30px;
        overflow: auto;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.9em;
        list-style: none;
        margin: 0;
        padding: 0;
        color: white; }
        #bottomTab .mainContainer .tabContainer .tab .content li {
          border-bottom: 1px solid grey;
          line-height: 25px;
          padding: 0 5px; }
      #bottomTab .mainContainer .tabContainer .tab.active {
        display: block; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .subHeader .refresh {
        display: none;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 2px;
        right: 5px;
        text-align: center;
        color: white;
        padding: 3px 3px; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .time {
        margin-left: 15px;
        display: inline-block;
        max-width: 80%; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .bus {
        float: right;
        margin-right: 15px;
        display: inline-block; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .destination {
        display: inline-block;
        font-weight: bold; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li.separator {
        background-color: #595959; }
      #bottomTab .mainContainer .tabContainer .tab#favoritesDetails .content li {
        line-height: 32px;
        padding-left: 15px;
        cursor: pointer; }
        #bottomTab .mainContainer .tabContainer .tab#favoritesDetails .content li:hover {
          background-color: #008EF7; }
    #bottomTab .mainContainer .nav {
      box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 0px;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #2c2c2c;
      text-align: center; }
      #bottomTab .mainContainer .nav li {
        display: table-cell;
        *float: left;
        /* improve IE7 */
        height: 30px;
        text-align: center;
        padding-left: 5px; }
        #bottomTab .mainContainer .nav li:first-child {
          padding-left: 0; }
        #bottomTab .mainContainer .nav li i {
          width: 100%;
          display: block;
          height: 100%;
          line-height: 30px;
          text-decoration: none;
          font-weight: bold;
          color: white; }
          #bottomTab .mainContainer .nav li i:hover {
            background-color: #498cd5;
            color: #ddeeee; }
        #bottomTab .mainContainer .nav li.button.selected i {
          background-color: #498cd5; }

#map .infobox {
  position: relative;
  width: 280px;
  border-radius: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 4px -1px; }
  #map .infobox .icon {
    position: absolute;
    height: 100%;
    width: 30px;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    display: inline-block; }
    #map .infobox .icon i {
      display: table;
      height: 100%;
      width: 100%; }
      #map .infobox .icon i:before {
        vertical-align: middle;
        display: table-cell; }
    #map .infobox .icon.favorite {
      border-radius: 5px 0 0 5px;
      left: 0;
      color: white;
      background-color: #008EF7; }
      #map .infobox .icon.favorite:hover {
        background-color: #38abff; }
      #map .infobox .icon.favorite.isFavorite {
        background-color: orange; }
        #map .infobox .icon.favorite.isFavorite:hover {
          color: #ff7575; }
    #map .infobox .icon.close {
      color: #ff7575;
      border-radius: 0 5px 5px 0;
      right: 0;
      background-color: #3b3b3b;
      border-left: 1px solid #656565; }
      #map .infobox .icon.close:hover {
        background-color: #656565; }
    #map .infobox .icon:hover {
      cursor: pointer; }
  #map .infobox .content {
    color: white;
    width: 280px;
    position: relative;
    line-height: 20px;
    height: 100%;
    display: inline-block;
    font-size: 1.2em;
    text-align: center; }
    #map .infobox .content p {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #3b3b3b;
      line-height: 20px;
      margin: auto;
      width: 220px; }

@media all and (orientation: landscape) {
  #mapContainer {
    left: 35%;
    height: 100%; }
  #bottomTab {
    bottom: 0;
    top: 0;
    left: 0;
    width: 35%;
    height: auto !important; }
    #bottomTab #resizeGripBar {
      display: none; }
      #bottomTab #resizeGripBar i {
        display: none; }
    #bottomTab .mainContainer {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0; }
      #bottomTab .mainContainer #nextBusesDetails .result {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; } }

@media (min-width: 1080px) and (orientation: landscape) {
  #mapContainer {
    left: 370px;
    height: 100%; }
  #bottomTab {
    width: 370px; } }
