body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue; }

#topMenu {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  background-color: #3b3b3b;
  z-index: 100;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 4px -1px; }
  #topMenu #geoloc {
    display: inline-block; }
    #topMenu #geoloc #geolocalizationButton {
      color: white;
      padding: 3px 3px;
      margin: 2px;
      cursor: pointer;
      background-color: grey;
      border-radius: 5px;
      border: 1px solid #a5a5a5; }
      #topMenu #geoloc #geolocalizationButton:hover {
        background-color: #008EF7; }
    #topMenu #geoloc #loadingIndicator {
      display: none;
      color: white;
      padding: 3px 3px;
      margin: 2px;
      border-radius: 5px;
      border: 1px solid #3b3b3b; }
    #topMenu #geoloc.loading #geolocalizationButton {
      display: none; }
    #topMenu #geoloc.loading #loadingIndicator {
      display: inline-block; }
  #topMenu .brand {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #adadad;
    color: #adadad;
    font-weight: 300; }

#mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px; }
  #mapContainer #map {
    height: 100%; }

#bottomTab {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 0px;
  background-color: transparent; }
  #bottomTab #resizeGripBar {
    height: 10px;
    width: 100%;
    cursor: ns-resize;
    background-color: #acacac;
    border-bottom: 1px solid #757575;
    border-top: 1px solid #757575;
    text-align: center;
    line-height: 10px;
    font-size: 0.5em; }
    #bottomTab #resizeGripBar i {
      color: #4d4d4d; }
  #bottomTab .mainContainer {
    position: absolute;
    width: 100%;
    top: 12px;
    bottom: 0;
    background-color: #3b3b3b; }
    #bottomTab .mainContainer .tabContainer .tab {
      display: none; }
      #bottomTab .mainContainer .tabContainer .tab .subHeader {
        position: absolute;
        height: 30px;
        top: 0;
        left: 0;
        right: 0;
        background-color: #8b8b8b;
        color: white; }
        #bottomTab .mainContainer .tabContainer .tab .subHeader .text {
          height: 30px;
          top: 0;
          position: absolute;
          left: 30px;
          right: 40px;
          text-align: center;
          line-height: 30px;
          text-transform: uppercase;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      #bottomTab .mainContainer .tabContainer .tab .message {
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        bottom: 0; }
        #bottomTab .mainContainer .tabContainer .tab .message p {
          text-align: center;
          color: #919191;
          text-transform: uppercase;
          padding: 0 10px; }
      #bottomTab .mainContainer .tabContainer .tab .content_text {
        text-align: center;
        color: white;
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 30px;
        overflow: auto; }
        #bottomTab .mainContainer .tabContainer .tab .content_text p {
          padding: 0 10px; }
          #bottomTab .mainContainer .tabContainer .tab .content_text p a {
            color: #008EF7; }
      #bottomTab .mainContainer .tabContainer .tab .content {
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 30px;
        overflow: auto;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.9em;
        list-style: none;
        margin: 0;
        padding: 0;
        color: white; }
        #bottomTab .mainContainer .tabContainer .tab .content li {
          border-bottom: 1px solid grey;
          line-height: 25px;
          padding: 0 5px; }
      #bottomTab .mainContainer .tabContainer .tab.active {
        display: block; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .subHeader .refresh {
        display: none;
        cursor: pointer;
        position: absolute;
        width: 18px;
        height: 18px;
        margin: 2px;
        top: 0;
        right: 0;
        text-align: center;
        color: white;
        padding: 3px 3px;
        background-color: grey;
        border-radius: 5px;
        border: 1px solid #a5a5a5; }
        #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .subHeader .refresh:hover {
          background-color: #008EF7; }
        #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .subHeader .refresh.fa-spin {
          cursor: auto;
          border: none;
          background: none;
          margin: 3px; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .time {
        display: inline-block;
        font-weight: bold;
        width: 80px; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .bus {
        display: inline-block; }
      #bottomTab .mainContainer .tabContainer .tab#nextBusesDetails .content li .destination {
        display: inline-block; }
    #bottomTab .mainContainer .nav {
      box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 0px;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #2c2c2c;
      text-align: center; }
      #bottomTab .mainContainer .nav li {
        display: table-cell;
        *float: left;
        /* improve IE7 */
        height: 30px;
        text-align: center;
        padding-left: 5px; }
        #bottomTab .mainContainer .nav li:first-child {
          padding-left: 0; }
        #bottomTab .mainContainer .nav li i {
          width: 100%;
          display: block;
          height: 100%;
          line-height: 30px;
          text-decoration: none;
          font-weight: bold;
          color: white; }
          #bottomTab .mainContainer .nav li i:hover {
            background-color: #498cd5;
            color: #ddeeee; }
        #bottomTab .mainContainer .nav li.button.selected {
          background-color: #498cd5; }

#map .infobox {
  position: relative;
  background-color: #3b3b3b;
  width: 280px;
  border-radius: 5px;
  border: 1px solid #656565;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  #map .infobox .icon {
    position: absolute;
    height: 100%;
    width: 30px;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    display: inline-block; }
    #map .infobox .icon i {
      display: table;
      height: 100%;
      width: 100%; }
      #map .infobox .icon i:before {
        vertical-align: middle;
        display: table-cell; }
    #map .infobox .icon.favorite {
      border-radius: 5px 0 0 5px;
      left: 0;
      color: white;
      background-color: #008EF7; }
      #map .infobox .icon.favorite:hover {
        background-color: #38abff; }
    #map .infobox .icon.close {
      color: #ff7575;
      border-radius: 0 5px 5px 0;
      right: 0;
      border-left: 1px solid #656565; }
      #map .infobox .icon.close:hover {
        background-color: #656565; }
    #map .infobox .icon:hover {
      cursor: pointer; }
  #map .infobox .content {
    color: white;
    width: 280px;
    position: relative;
    padding: 5px 0;
    line-height: 20px;
    height: 100%;
    display: inline-block;
    font-size: 1.2em;
    text-align: center; }
    #map .infobox .content p {
      margin: 0;
      width: 240px;
      padding: 0 5px; }
