body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

#topMenu {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    background-color: #3b3b3b;
    z-index: 100;
    border-radius: 5px;
    #geoloc {
        display: inline-block;
        #geolocalizationButton {
            color: white;
            padding: 3px 3px;
            margin: 2px;
            cursor: pointer;
            background-color: grey;
            border-radius: 5px;
            border: 1px solid #a5a5a5;
            &:hover {
                background-color: #008EF7;
                //color: #008EF7;
            }
        }
        #loadingIndicator {
            display: none;
            color: white;
            padding: 3px 3px;
            margin: 2px;
            border-radius: 5px;
            border: 1px solid #3b3b3b;
        }
        &.loading {
            #geolocalizationButton {
                display: none;
            }
            #loadingIndicator {
                display: inline-block;
            }   
        }
    }
    .brand {
        display: inline-block;
        padding: 0 10px;
        border-left: 1px solid #adadad;
        color: #adadad;
        font-weight: 300;
    }
}

#mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35%;
    #map {
        height: 100%;
    }
}

#bottomTab {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    border-top: 1px solid #dbdbdb;
    background-color: #3b3b3b;
    /*.header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f7f7f7;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li.icon {
            cursor: pointer;
            height: 30px;
            margin: 0;
            padding: 0;
            line-height: 30px;
            display: inline-block;
            width: 60px;
            text-align: center;
            margin: auto;
            font-size: 1.1em;
            &.selected {
                color: #60a9ff;
            }
            &:hover {
                background-color: #d6d6d6;
            }
        }
    }*/
    #nextBusesDetails {
        height: 100%;
        width: 100%;
        .subHeader {
            position: absolute;
            top: 0px;
            height: 30px;
            left: 0;
            right: 0;
            background-color: #8b8b8b;
            color: white;
            .text {
                position: absolute;
                left: 30px;
                right: 40px;
                text-align: center;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .refresh {
                display: none;
                cursor: pointer;
                position: absolute;
                width: 18px;
                height: 18px;
                margin: 2px;
                top: 0;
                right: 0;
                text-align: center;
                color: white;
                padding: 3px 3px;
                background-color: grey;
                border-radius: 5px;
                border: 1px solid #a5a5a5;
                &:hover {
                    background-color: #008EF7;
                }
                &.fa-spin {
                    cursor: auto;
                    border: none;
                    background: none;
                    margin: 3px;
                }
            }
        }
        .message {
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            bottom: 0;
            p {
                text-align: center;
                color: #919191;
                text-transform: uppercase;
                padding: 0 10px;
            }
        }
        .content {
            display: block;
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: scroll;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.9em;
            list-style: none;
            margin: 0;
            padding: 0;
            color: white;
            li {
                border-bottom: 1px solid grey;
                line-height: 25px;
                padding: 0 5px;
                .time {
                    display: inline-block;
                    font-weight: bold;
                    width: 80px;
                }
                .bus {
                    display: inline-block;
                }
                .destination {
                    display: inline-block;
                }
            }
        }
    }
}

#map {
    .infobox {
        position: relative;
        background-color: white;
        width: 280px;
        border-radius: 5px;
        border: 1px solid #d0d0d0;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
        .icon {
            position: absolute;
            height: 100%;
            width: 30px;
            text-align: center;
            font-weight: 100;
            font-size: 1.5em;
            display: inline-block;
            i {
                display: table;
                height: 100%;
                width: 100%;
                &:before {
                    vertical-align: middle;
                    display: table-cell;
                }
            }
            &.favorite {
                border-radius: 5px 0 0 5px;
                left: 0;
                color: white;
                background-color: #008EF7;
                &:hover {
                    background-color: #38abff;
                }
            }
            &.close {
                color:#ff7575;
                border-radius: 0 5px 5px 0;
                right: 0;
                border-left: 1px solid #d0d0d0;
                &:hover {
                    background-color: #d0d0d0;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .content {
            width: 200px;
            position: relative;
            padding: 5px 0;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 20px;
            height: 100%;
            display: inline-block;
            font-size: 1.2em;
            text-align: center;
        }
    }
}