body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

#topMenu {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    background-color: #3b3b3b;
    z-index: 100;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.8) 0 1px 4px -1px;
    #geoloc {
        display: inline-block;
        #geolocalizationButton {
            color: white;
            padding: 3px 3px;
            margin: 2px;
            cursor: pointer;
            background-color: grey;
            border-radius: 5px;
            border: 1px solid #a5a5a5;
            &:hover {
                background-color: #008EF7;
                //color: #008EF7;
            }
        }
        #loadingIndicator {
            display: none;
            color: white;
            padding: 3px 3px;
            margin: 2px;
            border-radius: 5px;
            border: 1px solid #3b3b3b;
        }
        &.loading {
            #geolocalizationButton {
                display: none;
            }
            #loadingIndicator {
                display: inline-block;
            }   
        }
    }
    .brand {
        display: inline-block;
        padding: 0 10px;
        border-left: 1px solid #adadad;
        color: #adadad;
        font-weight: 300;
    }
}

#mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
    #map {
        height: 100%;
    }
}

#bottomTab {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 4px 0px;
    background-color: transparent;
    #resizeGripBar {
        height: 10px;
        width: 100%;
        cursor: ns-resize;
        background-color: rgb(172, 172, 172);
        border-bottom: 1px solid #757575;
        border-top: 1px solid #757575;
        text-align: center;
        line-height: 10px;
        font-size: 0.5em;
        i {
            color: rgb(77, 77, 77);
        }
    }
    .mainContainer {
        position: absolute;
        width: 100%;
        top:12px;
        bottom: 0;
        background-color: #3b3b3b;

        .tabContainer {
            .tab {
                display: none;

                .subHeader {
                    position: absolute;
                    height: 30px;
                    top:0;
                    left: 0;
                    right: 0;
                    background-color: #8b8b8b;
                    color: white;
                    .text {
                        height: 30px;
                        top: 0;
                        position: absolute;
                        left: 30px;
                        right: 40px;
                        text-align: center;
                        line-height: 30px;
                        text-transform: uppercase;
                        font-weight: 300;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .message {
                    position: absolute;
                    top: 36px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    p {
                        text-align: center;
                        color: #919191;
                        text-transform: uppercase;
                        padding: 0 10px;
                    }
                }

                .content_text {
                    text-align: center;
                    color: white;
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    right: 0;
                    bottom: 30px;
                    overflow: auto;
                    p {
                        padding: 0 10px;
                        a {
                            color: #008EF7;
                        }
                    }
                }
                .content {
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    right: 0;
                    bottom: 30px;
                    overflow: auto;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 0.9em;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    color: white;
                    li {
                        border-bottom: 1px solid grey;
                        line-height: 25px;
                        padding: 0 5px;
                    }
                }
                &.active {
                    display: block;
                }

                &#nextBusesDetails {
                    .subHeader {
                        .refresh {
                            display: none;
                            cursor: pointer;
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            top: 2px;
                            right: 5px;
                            text-align: center;
                            color: white;
                            padding: 3px 3px;
                            background-color: grey;
                            border-radius: 5px;
                            border: 1px solid #a5a5a5;
                            &:hover {
                                background-color: #008EF7;
                            }
                            &.fa-spin {
                                cursor: auto;
                                border: none;
                                background: none;
                                margin: 3px;
                            }
                        }
                    }
                    .content {
                        li {
                            .time {
                                display: inline-block;
                                font-weight: bold;
                                width: 80px;
                            }
                            .bus {
                                display: inline-block;
                            }
                            .destination {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

        }

        .nav {
            box-shadow: rgba(0,0,0,0.8) 0px 0px 4px 0px;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;
            table-layout: fixed;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #2c2c2c;
            text-align: center;
            li {
                display: table-cell;
                *float: left; /* improve IE7 */
                height: 30px;
                text-align: center;
                padding-left: 5px;
                &:first-child {
                    padding-left: 0
                }
                i {
                    width: 100%;
                    display: block;
                    height: 100%;
                    line-height: 30px;
                    text-decoration: none;
                    font-weight: bold;
                    color: white;
                    &:hover {
                        background-color: #498cd5;
                        color: #ddeeee;
                    }
                }

                &.button {
                    &.selected {
                        background-color: #498cd5;
                    }
                }
            }
        }
    }
}

#map {
    .infobox {
        position: relative;
        background-color: #3b3b3b;
        width: 280px;
        border-radius: 5px;
        border: 1px solid #656565;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
        box-shadow: rgba(0,0,0,0.8) 0 1px 4px -1px;
        .icon {
            position: absolute;
            height: 100%;
            width: 30px;
            text-align: center;
            font-weight: 100;
            font-size: 1.5em;
            display: inline-block;
            i {
                display: table;
                height: 100%;
                width: 100%;
                &:before {
                    vertical-align: middle;
                    display: table-cell;
                }
            }
            &.favorite {
                border-radius: 5px 0 0 5px;
                left: 0;
                color: white;
                background-color: #008EF7;
                &:hover {
                    background-color: #38abff;
                }
            }
            &.close {
                color:#ff7575;
                border-radius: 0 5px 5px 0;
                right: 0;
                border-left: 1px solid #656565;
                &:hover {
                    background-color: #656565;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .content {
            color: white;
            width: 280px;
            position: relative;
            padding: 5px 0;
            line-height: 20px;
            height: 100%;
            display: inline-block;
            font-size: 1.2em;
            text-align: center;
            p {
                margin: 0;
                width: 240px;
                padding: 0 5px;
            }
        }
    }
}